<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<!-- jQuery library -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Latest compiled JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<style>
    body {
          background-color: black;
          font-family: 'Montserrat', sans-serif;
        }
    ::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
</style>
    <title>IamTheCode</title>
</head>
<body>
    {% block container %}
    {% endblock container %}
</body>
<script type="text/javascript">
            $(document).ready(function() {
                $('#spinner').hide();
                $('#searchSubmit').click( function() {
                    q = $('#q').val().split(' ').join('+');
                    $( '#results' ).html( '&nbsp;' ).load( '{% url 'demo_user_search' %}?q=' + q );
                });
            });

            $( document ).ajaxStart( function() {
                $( '#spinner' ).show();
            }).ajaxStop( function() {
                $( '#spinner' ).hide();
            });
        </script>
</html>